osource "C:/Users/VAI/ncs/v1.5.1/nrf/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/VAI/ncs/v1.5.1/zephyr/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/VAI/ncs/v1.5.1/zephyr/boards/shields/*/Kconfig.defconfig"
